@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900%display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}

span {
    font-size: .9rem;
    color: #757575;
}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49)
}

/* Navigation */
nav{
    position: fixed;
    width: 100%;
    background-color: #101c32;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    z-index: 2;
}

nav a img{
    width: 150px;
    cursor: pointer;
}
nav .pic img{
    width: 150px;
    cursor: pointer;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul  li {
    list-style: none;
    margin-left: 30px;
    position: relative;
}

nav .navigation ul  li a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 100;
    transition: 0.3s ease;
}
nav .navigation ul  li a.active,
nav .navigation ul  li a:hover{
    color: #fdc93b;
}
/* home */
#home {
 background-image: url("rtu1.jpg");
 width: 100%;
 height: 100vh;
 background-size: cover;
 background-position: center;
}
#home h2{
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
#home p{
    width: 50%;
    color: #fff;
    font-size: 0.9rem;
    line-height: 25px;
}
#home .btn{
    margin-top: 30px;
}
#home a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

#home a.blue{
    color: #fff;
    background: #fdc93b;
    transition: 0.3s ease;
}

#home a.blue:hover{
    color: rgb(21, 21, 100);
    background: #fff;
}

#home a.yellow{
    color: #fff;
    background: #fdc93b;
    transition: 0.3s ease;

}

#home a.yellow:hover{
    color: rgb(21, 21, 100);
    background: #fff;
}
/* about */
#Abhome{
    background-image: url("nagpayong3.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
/* mv */
#mv .mission{
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),url("nagpayong1.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
   }
#mv .mission h2{
    color: #fff;
    font-size: 3rem;
    letter-spacing: 1px;
} 
#mv .mission p{
    width: 50%;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 45px;
    margin-top: 0px;
    margin-bottom: 20px;
}
#mv .vision{
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),url("nagpayong1.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
   }
#mv .vision h2{
    color: #fff;
    font-size: 3rem;
    letter-spacing: 1px;
} 
#mv .vision p{
    width: 50%;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 45px;
    margin-top: 0px;
    margin-bottom: 20px;
}
#setting{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 20px;
    z-index: 1;
}
#setting .support a{
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: #f9f9ff;
    border: 1px solid #101c32;
    border-radius: 25px;    
    list-style: none;
    position: relative;
    text-decoration: none;
    color: #101c32;
    font-size: 19px;
    font-weight: 100;
    transition: 0.3s ease;
}
#setting .support a .fas{
    font-size: 90px;
} 
#setting .support a:hover{
    color: #fdc93b;
}
#setting .calendar a{
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: #f9f9ff;
    border: 1px solid #101c32;
    border-radius: 25px;    
    list-style: none;
    position: relative;
    text-decoration: none;
    color: #101c32;
    font-size: 19px;
    font-weight: 100;
    transition: 0.3s ease;
}
#setting .calendar a .fas{
    font-size: 90px;
} 
#setting .calendar a:hover{
    color: #fdc93b;
}
#setting .lmods a{
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: #f9f9ff;
    border: 1px solid #101c32;
    border-radius: 25px;    
    list-style: none;
    position: relative;
    text-decoration: none;
    color: #101c32;
    font-size: 19px;
    font-weight: 100;
    transition: 0.3s ease;
}
#setting .lmods a .fa-solid{
    font-size: 90px;
} 
#setting .lmods a:hover{
    color: #fdc93b;
}
/* modules */
.dropdown{
    display: none;
}
.navigation ul li:hover .dropdown{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
}
.dropdown ul{
    display: block;
    margin: 10px;
}
.dropdown ul li{
    width: 150px;
    padding: 10px;
}
#modules {
    padding: 10vw 10vw 8vw 8vw;
    letter-spacing: 2px;
}
#modules .pe {
    margin-bottom: 32px;
    text-align: center;
    letter-spacing: 1px;
}
#modules .mod{
    margin-bottom: 32px;
    margin-top: 25px;
    text-align: center;
}
#modules .module-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 3rem;
    margin-top: 25px;
    margin-bottom: -30px;
}
#modules .module {
    text-align: start;
    background: #f9f9ff;
    height: 75%;
}

#modules .module img{
    width: 90%;
    height: 60%;
    background-size: cover;
    background-position: center;  
    margin-left: 25px;
    margin-top: 15px;
}
#modules .module .details h2:hover{
    color: #fdc93b;
}
#modules .module .details h1{
    margin-top: 15px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-left: 20px;
} 
#modules .module .details h2{
    text-decoration: none;
    color: #101c32;
    font-size: 25px;
    margin-left: 20px;
}  
#modules .module .details h3{
    margin-top: 15px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-left: 20px;
} 
#modules .module .details p{
    margin-top: 15px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-left: 20px;
}  
#module {
    background-image: url("nagpayong2.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding-top: 40px;
   }

.gotopbtn{
position: fixed;
width: 50px;
height: 37px;
background: #101c32;
bottom: 40px;
right: 50px; 
text-decoration: none;
text-align: center;
line-height: 50px;
color: white;
font-size: 22px;    
}   
/* Login */
#login {
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgba(99, 122, 168, 0.5), rgba(81, 91, 233, 0.5)),url("nagpayong1.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login .form{
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 85px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
#login .form input{
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgb(84, 40, 241);
    outline: none;
}
footer{
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 120px;
    padding-right: 120px;
    background-color: #101c32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
footer h2{
    color: rgb(241, 240, 245);
    font-weight: 600;
    margin-top: 10px;
    padding-bottom: 20px;
    margin-left: 175px;
}
footer li{
    margin-left: 175px;
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}
footer li:hover{
    color: rgb(241, 240, 245);
}
footer h3{
    color: rgb(241, 240, 245);
    font-weight: 600;
    margin-top: 10px;
    padding-bottom: 20px;
}
footer p{
    color: #7b838a;
}
footer .email  {
     margin-top: 20px;
}
footer input{
    width: 220px;
    padding: 15px 12px;
    background: #334f6c;
    border: none;
    outline: none;
    color: #fff;
    z-index: 3;
}
footer .Email a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 15px 20px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}
footer .Email a.yellow{
    color: #fff;
    background: #fdc93b;
    transition: 0.3s ease;
}
footer .Email a.yellow:hover{
    color: rgb(21, 21, 100);
    background-color: #fff;
}
