p{
    color:aqua;
}
#LogIn .form {
    padding: 6vw 8vw 6vw 8vw;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 32px 0 rgba(red, green, blue, alpha);
    margin: 15px 0;
    outline: none;
}